# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual env
venv/
.venv/

# Jupyter / tools
.ipynb_checkpoints/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# OS / editor
.DS_Store
.vscode/
.idea/
